<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7cf2e6a98cff48de9bd56c57c64ce3b8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7cf2e6a98cff48de9bd56c57c64ce3b8" ></div>
        
</body>
<script>    
    
            var map_7cf2e6a98cff48de9bd56c57c64ce3b8 = L.map(
                "map_7cf2e6a98cff48de9bd56c57c64ce3b8",
                {
                    center: [49.81763, 24.02295],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);

            

        
    
            var tile_layer_310404d4069440d3a179df108983fb3c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var marker_8c15e6d63d28459e8d359847c0bbcd4a = L.marker(
                [49.81763, 24.02295],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_4694df9ec603404da047d3f4f42e1d17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c15e6d63d28459e8d359847c0bbcd4a.setIcon(icon_4694df9ec603404da047d3f4f42e1d17);
        
    
        var popup_61f21ce9ffd0468181bb41fe23d6400a = L.popup({"maxWidth": "100%"});

        
            var html_cdb0aae4de7c47c3a3e62efe99b767f6 = $(`<div id="html_cdb0aae4de7c47c3a3e62efe99b767f6" style="width: 100.0%; height: 100.0%;">My location</div>`)[0];
            popup_61f21ce9ffd0468181bb41fe23d6400a.setContent(html_cdb0aae4de7c47c3a3e62efe99b767f6);
        

        marker_8c15e6d63d28459e8d359847c0bbcd4a.bindPopup(popup_61f21ce9ffd0468181bb41fe23d6400a)
        ;

        
    
    
            var marker_097cdc3e37a64fa4a12a00dcb3c1871e = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_aa1c091da3c0488880b56ee8aaefdd80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ok-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_097cdc3e37a64fa4a12a00dcb3c1871e.setIcon(icon_aa1c091da3c0488880b56ee8aaefdd80);
        
    
        var popup_f2010945f4ff424eaf753a2df9d79a7d = L.popup({"maxWidth": "100%"});

        
            var html_84ea602b5e4340dbadcaeead52259cee = $(`<div id="html_84ea602b5e4340dbadcaeead52259cee" style="width: 100.0%; height: 100.0%;">Ukraine / Україна</div>`)[0];
            popup_f2010945f4ff424eaf753a2df9d79a7d.setContent(html_84ea602b5e4340dbadcaeead52259cee);
        

        marker_097cdc3e37a64fa4a12a00dcb3c1871e.bindPopup(popup_f2010945f4ff424eaf753a2df9d79a7d)
        ;

        
    
    
            var marker_3644b4695fe74dfcbe3b08af8b7663a8 = L.marker(
                [44.9332, 7.5401],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_d14b463950524adb98db11aedb4a34db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ok-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3644b4695fe74dfcbe3b08af8b7663a8.setIcon(icon_d14b463950524adb98db11aedb4a34db);
        
    
        var popup_ae71657b048947e3985c3ecaa6e85272 = L.popup({"maxWidth": "100%"});

        
            var html_5eeba9caf6d449d2bef1cfb29604efa7 = $(`<div id="html_5eeba9caf6d449d2bef1cfb29604efa7" style="width: 100.0%; height: 100.0%;">Петро Порошенко</div>`)[0];
            popup_ae71657b048947e3985c3ecaa6e85272.setContent(html_5eeba9caf6d449d2bef1cfb29604efa7);
        

        marker_3644b4695fe74dfcbe3b08af8b7663a8.bindPopup(popup_ae71657b048947e3985c3ecaa6e85272)
        ;

        
    
    
            var marker_887135e715524459a94331bf22cd89c5 = L.marker(
                [49.488585584899845, 31.27041789954426],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_2061e9e4668f4684a7f5a67f9f5bd0b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ok-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_887135e715524459a94331bf22cd89c5.setIcon(icon_2061e9e4668f4684a7f5a67f9f5bd0b4);
        
    
        var popup_ac5e23703caf4c21bd6d7d7ae4e8a450 = L.popup({"maxWidth": "100%"});

        
            var html_a27407fa5c414dbda4d98298ddf2aaac = $(`<div id="html_a27407fa5c414dbda4d98298ddf2aaac" style="width: 100.0%; height: 100.0%;">Володимир Зеленський</div>`)[0];
            popup_ac5e23703caf4c21bd6d7d7ae4e8a450.setContent(html_a27407fa5c414dbda4d98298ddf2aaac);
        

        marker_887135e715524459a94331bf22cd89c5.bindPopup(popup_ac5e23703caf4c21bd6d7d7ae4e8a450)
        ;

        
    
    
            var marker_50a9505626644072afb591271c52351c = L.marker(
                [44.93507445071721, 7.539557466607164],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_603632d276984703891b7c5ac529d57d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ok-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_50a9505626644072afb591271c52351c.setIcon(icon_603632d276984703891b7c5ac529d57d);
        
    
        var popup_4c41d388dc7b4a9c825e0b1c2bb908bf = L.popup({"maxWidth": "100%"});

        
            var html_73f818959cc44244bfc7bae8aae298f0 = $(`<div id="html_73f818959cc44244bfc7bae8aae298f0" style="width: 100.0%; height: 100.0%;">Elon Musk</div>`)[0];
            popup_4c41d388dc7b4a9c825e0b1c2bb908bf.setContent(html_73f818959cc44244bfc7bae8aae298f0);
        

        marker_50a9505626644072afb591271c52351c.bindPopup(popup_4c41d388dc7b4a9c825e0b1c2bb908bf)
        ;

        
    
    
            var marker_daf61d4911794f11a7cd69d5e077e6de = L.marker(
                [50.4500336, 30.5241361],
                {}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
    
            var icon_5b848dcd18e045a0a157a6ca08d7f50f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ok-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_daf61d4911794f11a7cd69d5e077e6de.setIcon(icon_5b848dcd18e045a0a157a6ca08d7f50f);
        
    
        var popup_9144deae42ed4f21ad3683c2cafa1557 = L.popup({"maxWidth": "100%"});

        
            var html_61c2a34af5d7467fa052527e086b192c = $(`<div id="html_61c2a34af5d7467fa052527e086b192c" style="width: 100.0%; height: 100.0%;">U.S. Embassy Kyiv</div>`)[0];
            popup_9144deae42ed4f21ad3683c2cafa1557.setContent(html_61c2a34af5d7467fa052527e086b192c);
        

        marker_daf61d4911794f11a7cd69d5e077e6de.bindPopup(popup_9144deae42ed4f21ad3683c2cafa1557)
        ;

        
    
    
            var layer_control_b8a54099aa8e4652a2d20ad349321ba6 = {
                base_layers : {
                    "openstreetmap" : tile_layer_310404d4069440d3a179df108983fb3c,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_b8a54099aa8e4652a2d20ad349321ba6.base_layers,
                layer_control_b8a54099aa8e4652a2d20ad349321ba6.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_7cf2e6a98cff48de9bd56c57c64ce3b8);
        
</script>